.iconSelector {
    display: flex;
    align-items: center;
    justify-content: center;

    .iconSet {
        display: grid;
        grid-template-columns: repeat(6, 35px);
        gap: 5px;
        margin: 10px;

        // .cls-1 {
        //     fill: #FFFFFF !important
        // }

        // .cls-2 {
        //     fill: #00c569 !important
        // }

        .icon {
            background-color: #555555;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &.selected {
                svg {
                    background-color: #888888;
                    width: 100%;
                }
            }

            svg {
                width: calc(100% - 10px);

                path:nth-child(odd) {
                    fill: #FFFFFF !important
                }

                path:nth-child(even) {
                    fill: #00c569 !important
                }
            }

        }
    }
}