.content {
    text-align: center;

    .title {
        display: grid;
        grid-template-columns: auto 20px;
        column-gap: 5px;
        justify-content: center;
        align-items: center;

        .header {
            max-width: min-content;
        }

        .add {
            background-color: #cccccc;
            cursor: pointer;
            color: black;
            border-radius: 5px;
        }
    }
}